/* whole page stuff */

.container {
  display: grid;
}

.sections-container {
  padding: 0px 15vw;
}

/* side list stuff */

.side {
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: flex-end;
}

.side-list {
  width: 10vw;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.side-list > li {
  margin-bottom: 2vh;
}

.side-list > li > a > img {
  height: 2.5vh;
  min-height: 20px;
  transform: translateY(0px);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.side-list > li > a > img:hover {
  transform: translateY(-5px);
}

.side-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 12vh;
  margin: 0px auto;
  background-color: #000;
}

/* top section stuff */

.top-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.top-pretext,
.top-posttext {
  margin-left: 4px;
}

.top-title {
  font-size: 80px;
  margin: 20px 0px;
}

/* content section stuff */

.content-section {
  padding: 100px 0px;
}

/* bottom */

.bottom-container {
  display: flex;
  justify-content: center;
}

.footer-container {
  text-align: center;
}
