.navbar {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(15px);
  background-color: hsla(0, 0%, 100%, 0.8);
  display: grid;
  grid-template-columns: 10vw 30vw 60vw;
  z-index: 10;
}

/* logo side */

.logo-container {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navitems stuff */

.nav-items-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items > li {
  margin: 0px 3vw;
}

.nav-items-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items-menu > li {
  margin: 10px 3vw;
}

.navItem {
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}

.navItem:hover {
  opacity: 0.6;
}

.dot {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #191414;
  border-radius: 50%;
  align-self: center;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}

/* hamburger */

.hamburger {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  z-index: 20;
}

.hamburger-container {
  border: 0px;
  background: none;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: #191414;
  margin: 4px 0;
  transition: 0.4s;
  display: block;
}

.hamburger-separate {
  display: none;
}

/* menu */

.menu {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  color: white;
  display: grid;
  grid-template-columns: auto;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
